.navContainer{

}
ul{
	list-style: none;
	display: inline-block;
}
.container{
	width: 100%;

}
.section1{
	background-color: grey;
	min-height: 400px;
	width: 100%;
}
.section2{
	background-color: pink;
	min-height: 400px;
}
.section3{
	background-color: grey;
	min-height: 400px;
}

h1{
	color: white;
	margin-top: 0;
}

/*Custom Styles */
.tAc{
	text-align: center;
}